<?xml version="1.0" encoding="utf-8" ?>

<tracker>

  <controller port="/dev/tty.KeySerial1"
              definitions="/Users/auneri/Developer/Data/NDIToolDefinitions" />

  <tools>

    <tool name="Pointer"
          serial="3288C807">
      <tooltip rotation="1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0"
               translation="0.0, 0.0, 0.0" />
    </tool>
  </tools>
</tracker>
